<form [formGroup]="pildoraForm" (ngSubmit)="onSubmit()">
    <!-- Campo de texto para el título -->
    <mat-form-field appearance="outline" class="form-titulo">
        <mat-label>Título</mat-label>
        <input matInput type="text" formControlName="titulo" placeholder="Introduce el título">
    </mat-form-field>

    <!-- Dropdown para seleccionar etiqueta -->
    <mat-form-field appearance="outline" class="form-etiqueta">
        <mat-label>Etiqueta</mat-label>
        <mat-select multiple formControlName="etiquetas">
            <mat-select-trigger>
                {{pildoraForm.value.etiquetas.length > 0 ? pildoraForm.value.etiquetas[0] : ''}}
                <span *ngIf="pildoraForm.value.etiquetas.length > 1" class="example-additional-selection">
                    (+{{pildoraForm.value.etiquetas.length - 1}} {{pildoraForm.value.etiquetas.length === 2 ? 'otra' :
                    'otras'}})
                </span>
            </mat-select-trigger>
            <mat-option *ngFor="let etiqueta of etiquetas" [value]="etiqueta.nombre">
                {{etiqueta.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-contenido">
        <mat-label>Contenido</mat-label>
        <textarea matInput formControlName="contenido"></textarea>
    </mat-form-field>
    <markdown [data]="pildoraForm.get('contenido')!.value" class="form-contenido-preview"></markdown>

    <!-- Botón para guardar -->
    <button mat-raised-button color="primary" type="submit" class="form-button">Guardar</button>
</form>