form {
    padding: 16px 0 0 26px;
    /* width: 640px; */
    border: 1px solid red;
    display: grid;
    /* margin: 50px 0 0 50px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 500px 1fr;
    grid-template-areas:
        "ti et"
        "co cp"
        "si bu";
    /* "si" es un espacio que me reservo para el botón siguiente */
}

.form-titulo {
    grid-area: ti;
}

.form-etiqueta {
    grid-area: et;
}

.form-contenido {
    display: flex;
    flex-direction: column;
    grid-area: contenido;
    margin-top: 0;
}

::ng-deep .form-contenido-container .mat-mdc-form-field * {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.editor-toolbar {
    border: 1px solid #a4a4a4;
    border-radius: 6px 6px 0 0;
    grid-area: herramientas;
    margin-bottom: 0;
    padding: 5px;
    background-color: #a4a4a4;
}

.form-contenido-container {
    grid-area: co;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr;
    grid-template-areas: "herramientas" "contenido";
    margin-top: 5px;
}

textarea {
    flex: 1;
    resize: vertical;
    overflow: auto;
}

.form-contenido-preview {
    border: 1px solid #a4a4a4;
    border-radius: 6px;
    grid-area: cp;
    padding: 10px;
    margin: 5px 26px 16px 0;
    margin-bottom: 20px;
}

.form-contenido {
    /* margin-top: 25px; */
    /* padding-top: 25px; */
}

.form-buttons {
    grid-area: bu;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 16px;
}

.form-button-limpiar {
    /* width: 100px; */
}

.form-button-guardar,
.form-button-cancelar {
    /* width: 100px; */
    margin-left: 10px;
}

form>* {
    margin-right: 26px;
}

textarea {
    resize: both;
}

.mdc-button {
    text-align: center;
}

.editor-toolbar .mdc-button {
    min-width: 26px;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0 2px;
}

.editor-toolbar .mdc-button * {
    padding: 0;
    margin: 0;
}