<!-- <p-toast position="top-right"></p-toast>
<p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb> -->
<mat-card class="example-card"></mat-card>
<mat-card-header>
    <mat-card-title>Píldoras</mat-card-title>
</mat-card-header>
<div class="table-and-form-container">
    <div class="opciones-tabla-container">
        <div class="clear-filters-container">
            <!-- BOTON NUEVO -->
            <button mat-button (click)="onNewRowInit()" aria-label="Añadir">
                <mat-icon>add</mat-icon><span class="contenido-boton"></span>
            </button>
            <button mat-button (click)="clearFilters()" aria-label="Limpiar Filtros">
                Limpiar Filtros
            </button>
        </div>
    </div>

    <!-- Tabla Angular Material -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Definiciones de Columnas -->
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> Título </th>
                <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
            </ng-container>

            <ng-container matColumnDef="contenido">
                <th mat-header-cell *matHeaderCellDef> Contenido </th>
                <td mat-cell *matCellDef="let element"> {{element.contenido}} </td>
            </ng-container>

            <!-- Header y Footer de la Tabla -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
</div>
</mat-card>