<!-- <p-toast position="top-right"></p-toast>
<p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb> -->
<mat-card>
    <!-- <mat-card-header class="mat-elevation-z8">
        <mat-card-title>Píldoras</mat-card-title>
    </mat-card-header> -->
    <div class="table-and-form-container">
        <div class="opciones-tabla-container">
            <div class="clear-filters-container">
                <!-- BOTON NUEVO -->
                <button mat-raised-button color="primary" (click)="onNewRowInit()" aria-label="Añadir"
                    class="boton-nueva-pildora">
                    <mat-icon class="material-symbols-outlined">create</mat-icon><span>Añadir</span>
                </button>
                <button mat-raised-button color="accent" (click)="clearFilters()" aria-label="Limpiar Filtros"
                    class="boton-limpiar-filtros">
                    <mat-icon class="material-symbols-outlined">filter_alt_off</mat-icon><span>Limpiar Filtros</span>
                </button>
            </div>
        </div>
        <!-- Tabla Angular Material -->
        <div>
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">

                <!-- Definiciones de Columnas -->
                <ng-container matColumnDef="titulo" class="mat-column-titulo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-form-field appearance="fill">
                            <mat-label (click)="$event.stopPropagation()" floatLabel="always">Título</mat-label>
                            <input matInput [(ngModel)]="filtroTitulo" (keyup)="onFiltroTituloChanged($event)"
                                (click)="$event.stopPropagation()">
                            @if (filtroTitulo) {
                            <button matSuffix mat-icon-button aria-label="Clear"
                                (click)="filtroTitulo=''; applyFilter(); $event.stopPropagation()">
                                <mat-icon class="material-symbols-outlined">close</mat-icon>
                            </button>
                            }
                        </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.titulo}}
                    </td>
                    <!-- <td mat-cell *matCellDef="let element"> {{element.titulo}} </td> -->
                </ng-container>

                <ng-container matColumnDef="contenido" class="mat-column-contenido">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-form-field appearance="fill">
                            <mat-label (click)="$event.stopPropagation()">Contenido</mat-label>
                            <input matInput [(ngModel)]="filtroContenido" (keyup)="onFiltroContenidoChanged($event)"
                                (click)="$event.stopPropagation()">
                            @if (filtroContenido) {
                            <button matSuffix mat-icon-button aria-label="Clear"
                                (click)="filtroContenido=''; applyFilter(); $event.stopPropagation()">
                                <mat-icon class="material-symbols-outlined">close</mat-icon>
                            </button>
                            }
                        </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <markdown [data]="element.contenido" class="form-contenido-preview"></markdown>
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="pasoSecuencia">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Paso Secuencia </th>
                    <td mat-cell *matCellDef="let element"> {{element.pasoSecuencia}} </td>
                </ng-container> -->

                <ng-container matColumnDef="etiquetas" class="mat-column-etiquetas">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field appearance="fill">
                            <mat-label>Etiqueta</mat-label>
                            <mat-select multiple [(ngModel)]="selectedEtiqueta" (selectionChange)="applyFilter()">
                                <mat-option [value]="">Ninguna</mat-option>
                                <mat-option *ngFor="let etiqueta of etiquetas"
                                    [value]="etiqueta.nombre">{{etiqueta.nombre}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngFor="let etiqueta of element.etiquetas; let i = index">{{ etiqueta.nombre }}<span
                                *ngIf="i < element.etiquetas.length - 1">, </span></span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="acciones" class="mat-column-acciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editarPildora(element)">
                                <mat-icon class="material-symbols-outlined">edit</mat-icon>
                                <span>Modificar</span>
                            </button>
                            <button mat-menu-item (click)="confirmarBorrarPildora(element)">
                                <mat-icon class="material-symbols-outlined">delete</mat-icon>
                                <span>Borrar</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>


                <!-- Header y Footer de la Tabla -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="[10, 50, 100]" [length]="paging.totalRecords"
                hideFirstLastButtons></mat-paginator>
            <!-- <mat-paginator *ngIf="dataSource.data.length > 0" [pageSizeOptions]="[10, 50, 100]"
                hideFirstLastButtons></mat-paginator> -->
        </div>
    </div>
</mat-card>