:root {
    --color-primary-0: #DFBFC8;
    --color-primary-1: #BDB1B5;
    --color-primary-2: #AE9BA1;
    --color-primary-3: #9D848B;
    --color-primary-4: #8F7079;
}

body {
    min-width: 1024px;
    width: 1400px;
}




/* label {
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-right: 5px;
} */

/* th input {
    margin-left: 8px;
} */

/* th mat-form-field {
    margin-left: 8px;
} */

button {
    height: 40px;
}

/* html,
body {
    height: 100%;
} */

body {
    margin: 0;
    padding: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    /* border: 1px dotted red; */
}

mat-paginator {
    text-align: center;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
}

mat-form-field {
    margin-top: 15px;
}

.mdc-text-field--no-label {
    height: 50px;
}

table {
    width: 100%;
}

.mat-column-titulo {
    width: 25%;
}

.mat-column-contenido {
    width: 40%;
}

.mat-column-acciones {
    width: 1%;
}

.mat-column-acciones * {
    margin: 0;
    padding: 0;
}

/* .mat-column-etiquetas mat-form-field {
   width: 100%;
} */

mat-card-header {
    justify-content: center;
}

mat-card-title {
    padding-bottom: 15px;
}